@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background-color: rgb(253, 255, 255) !important; /* .bg-main */
  border: 1px solid rgb(102,102,102) !important;
  border-radius: 6px !important; /* .rounded-md */
  height: 32px !important; /* .h-8 (taille en pixels) */
  width: 172px !important;
  padding-left: 16px !important; /* .px-8 (16px) */
  padding-right: 16px !important; /* .px-8 (16px) */
  padding-top: 4px !important; /* .py-1 (4px) */
  padding-bottom: 4px !important; /* .py-1 (4px) */
  color: rgb(0,0,0) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important; 
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
